<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h6 class="text-center mb-4"><%= current_user.try(:admin?) ? "DIA_管理者" : "DIA" %></h6>
      <div class="form-group text-center">
        <h5 class="my-3 fw-bold">このアプリはAIを手軽に試せる、AI会社を探せる。</h5>
        <h5>プラットフォームアプリになります。</h5>
        <h6>AIの開発には様々な問題点があります。</h6>
        <h6>このアプリではそれらを解決する糸口としてご利用いただけます。</h6>
      </div>

      
>>
      </div>
    </div>
  </div>
</div>

