<% if current_user.try(:admin?) %>
  <h1>DIA_admin</h1>
<% else %>
  <h1>DIA</h1>
<% end %>

<div class="text-center">
  <h2 class="my-3 fw-bold">このアプリはAIを手軽に試せる、AI会社を探せる。プラットフォームアプリになります。</h2>
  <h4>世の中にAIを作れるアプリや、</h4>
  <h4>AIの開発には様々な問題点があります。</h4>
  <h4>このアプリではそれらを解決する糸口としてご利用いただけます。</h4>
  <small class="mt-3">※DIA ＝ dive_into_AI</small>

  <div class="row row-cols-1 row-cols-md-2 justify-content-center d-flex mt-3">
    <div class="card mx-3 mb-1 shadow-sm" style="width: 16rem">
      <div class="card-body p-2">
        <p class="card-title mb-3">初めてご利用の方</p>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary px-3" %>
      </div>
    </div>

    <div class="card mx-3 mb-1 shadow-sm" style="width: 16rem">
      <div class="card-body p-2">
        <p class="card-title mb-3">アカウントをお持ちの方</p>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary px-3" %>
      </div>
    </div>

    <div class="card mx-3 mb-1 shadow-sm" style="width: 16rem">
      <div class="card-body p-2">
        <p class="card-title mb-3">AIを試してみたい方</p>
        <%= link_to "AIモデル一覧", documents_path, class: "btn btn-primary px-3" %>
      </div>
    </div>

  </div>
</div>