<%# <% if current_user.try(:admin?) %>
  <%# <h1>DIA_admin</h1> %>
<%# <% else %> 
  <%# <h1>DIA</h1> %>
<%# <% end %> 

<div class="form-group" style="text-align: center;  d-flex mt-3;">
  <h5 class="my-3 fw-bold">このアプリはAIを手軽に試せる、AI会社を探せる。</h5>
  <h5>プラットフォームアプリになります。</h5>
  <h6>AIの開発には様々な問題点があります。</h6>
  <h6>このアプリではそれらを解決する糸口としてご利用いただけます。</h6>
</div>

<div class="form-group" style="text-align: center; mt-3;">
  <p>初めてご利用の方</p>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-info px-3;" %>
</div>

<div class="form-group" style="text-align: center;">
  <p>アカウントをお持ちの方</p>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info px-3;" %>
</div>

<div class="form-group" style="text-align: center;">
  <p>すぐにAIを試してみたい方</p>
  <%= link_to "AIモデル一覧", users_path, class: "btn btn-outline-info px-3;" %>
</div>