<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Editing Document</h1>
      <%= render 'form', document: @document %>
      <%= link_to 'Show', @document, class: "btn btn-outline-info" %> |
      <%= link_to 'Back', documents_path, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>