<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h6>新規作成</h6>
      <%= render 'form', document: @document %>
      <%= link_to 'Back', documents_path, class: "btn btn-outline-info" %>
    </div>
  </div>
</div>